*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background: linear-gradient(#7ae664, #e0e0e0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

#active-btn {
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    border-color: rgb(22, 136, 47);
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}